:root {
  --primary-color-text: #000;
  --secondary-color-text: rgba(0, 0, 0, 0.54);
  --primary-background-color-main: #fff;
  --primary-color-red: #B91E27;
}

[data-theme="dark"] {
  --primary-color-text: #fff;
  --secondary-color-text: #9D9D9D;
  --primary-background-color-main: #121212;
}
